<div class="jumbotron mt-4">
    <h1 class="display-4">Servicio de Publicaciones Universitarias</h1>
    <p class="lead">Bienvenido a nuestro servicio de publicaciones universitarias. Regístrese para poder acceder a la aplicación completa. </p>
    <hr class="my-4">
    <p>Creado por Lucía Zamanillo Lazuen</p>
</div>