<div class="row">
    {{#each allPublications}}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-between align-items-center">
                    {{title}} <a href="/publications/edit/{{_id}}"><i class="fas fa-edit"></i></a>
                </h4>
                <form action="/publications/delete/{{_id}}?_method=delete" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <button class="btn btn-danger btn-block btn-sm" type="submit">Eliminar Publicación</button>
                </form>
                
            </div>
        </div>
    </div>

    {{/each}}
</div>