<footer class="footer fixed-bottom bg-dark">
    <div class="container text-center">
        <span class="text-white">
            lucia.zamanillo@alumnos.uneatlantico.es
        </span>
    </div>
</footer>